<p class="noImage" *ngIf="bookmarks.length == 0">No bookmarks</p>
<div class="rows">
    <div *ngFor="let image of bookmarks">
        <mat-card class="card">
            <img mat-card-image src="{{ image.url }}_m.jpg" title="{{ image.title }}" alt="Image not found" />
            <p [hidden]="!image.tags">#{{ image.tags }}</p>
            <mat-card-actions>
                <button mat-raised-button color="warn" (click)="remoteImage(image)">
          Remote it!
        </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>